@import "tailwindcss";

* {
  box-sizing: border-box;
}

#container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  margin: 0;
}

.left {
  width: 300px;
  height: 100%;
  gap: 20px;
  background-color: #17123A;
  color: white;
  display: flex;
  flex-direction: column;
  padding: 40px;
}

.right {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.topBar {
  width: 100%;
  height: 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  padding-right: 25px;
  padding-left: 25px;
  background-image: linear-gradient(to bottom, rgba(41, 41, 41, 0.25), rgba(55, 55, 55, 0));
}

.topBar div{
  display: flex;
  align-items: center;
  gap: 20px;
}

.shareBtn {
  background-color: #49B890;
  padding: 10px;
  width: 100px;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  transition: 0.5s;
}
.shareBtn:hover {
  background-color: #3a9d78;
  transform: translateY(-2);
  transition: 0.5s;
  cursor: pointer;
}

.newBtn {
  background-color: #E74C3C;
  padding: 10px;
  width: 100px;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  transition: 0.5s;
}
.newBtn:hover {
  background-color: #c73b2b;
  transform: translateY(-2);
  transition: 0.5s;
  cursor: pointer;
}

.profilePic {
  background-image: url("../profile.jpg");
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 100px;
  transition: 0.5s;
}
.profilePic:hover {
  transform: translateY(-2);
  transition: 0.5s;
  cursor: pointer;
}

.taskHolder {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 20px;
  padding: 25px;
}

.task {
  width: 300px;
  height: 400px;
  background-color: #d2dcda;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
  transition: 0.2s;
  border-radius: 10px;
}
.task:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  transition: 0.2s;
}

/* SEMANTIC */

form {
  position: absolute;
  top: 100px;
  left: 40%;
  width: 500px;
  padding: 16px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  align-items: flex-start;
  background-color: #d2dcda;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
  transition: 0.2s;
  border-radius: 10px;
  z-index: 99;
}

input {
  height: 35px;
  width: 350px;
  border: 2px solid black;
  background-color: white;
}

h1 {
  color: #F6E027;
  font-size: 30px;
}
h2 {
  color: #49B890;
  font-size: 20px;
}

li {
  padding-left: 20px;
  padding: 5px;
}
li:hover {
  background-color: rgba(255, 255, 255, 0.15);
  cursor: pointer;
}
