@import "tailwindcss";

html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  margin: 0;
}

.left {
  width: 300px;
  height: 100%;
  background-color: #17123A;
  color: white;
  display: flex;
  flex-direction: column;
  padding: 40px;
}

.right {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.topBar {
  width: 100%;
  height: 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-right: 25px;
  padding-left: 25px;
  background-image: linear-gradient(to bottom, rgba(41, 41, 41, 0.25), rgba(55, 55, 55, 0));
}

.topBar div{
  display: flex;
  align-items: center;
  gap: 20px;
}

.shareBtn {
  background-color: #49B890;
  padding: 10px;
  width: 100px;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  transition: 0.5s;
}
.shareBtn:hover {
  background-color: #3a9d78;
  transform: translateY(-2);
  transition: 0.5s;
  cursor: pointer;
}

.profilePic {
  background-color: black;
  width: 50px;
  height: 50px;
  border-radius: 100px;
  transition: 0.5s;
}
.profilePic:hover {
  transform: translateY(-2);
  transition: 0.5s;
  cursor: pointer;
}

.taskHolder {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 20px;
  padding: 25px;
}

.task {
  width: 300px;
  height: 300px;
  background-color: black;
}

h1 {
  color: #F6E027;
  font-size: 30px;
}
h2 {
  color: #49B890;
  font-size: 20px;
}
